.App {
  text-align: center;
}

body {
  background-color: #B7FDFE;
  font-family: 'Helvetica', sans-serif;
  color: black;
}

hr {
  margin-top: 1rem;
  color: black;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 2rem;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

.flexContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.cityBox {
  border: 1px solid black;
  border-radius: 15%;
  flex: 1;
  max-width: 25%;
  padding: 1rem;
  margin: 8rem;
}

.cityBox:first-child {
  margin-left: 10rem;
}

.message {
  position: absolute;
  margin: 0;
  padding: 0;

}

.cityName {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem;
  margin-top: .1rem;
  padding-top: .1rem;
  ;
}




